body{
    margin:auto;
    padding:auto;
    background: url('image.webp') no-repeat center center fixed;
  background-size: cover; 
    background-color: #000000;
    font-family:sans-serif;
    background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen height */


}

.Login_Page {
    width: 300px;
    padding: 50px;
    background: rgba(238, 10, 10, 0.8);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    margin: 100px auto;
}

.Login_Page h1{
    text-align: center;
    color: rgb(8, 8, 8);
    padding-bottom: 20px;
    
    margin-bottom: 30px;
}
.button{
    border: 10;
    background:#000000;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b93434;
    padding: 14px 40px;
    outline: unset;
    color: rgb(255, 253, 253);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.button:hover{
    background-color: #ff0000;
    box-shadow: #000000 0 0 10px;
    transform: scale(1.1);
}

.inputs{
    width :60%;
    margin: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #b93434;
    color: white;

}
 
.Login_Page a{
    color: #000000;
    font-size: 15px;
    text-decoration:dotted underline;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;


}