body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('../login_page/image.webp') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


.h1 {
  color: rgb(5, 5, 5);
  margin: 0;
  padding: 0 0 20px 0; /* add spacing below heading */
  text-align: center;
}

.Registration_Page {
    width: 300px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background: rgba(238, 10, 10, 0.8);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);

}



.Registration_Page h1 {
  text-align: center;
  color: rgb(8, 8, 8);
  padding-bottom: 20px;
  margin-bottom: 30px;
}


.inputs {
  width: 60%;
  margin: 10px auto;
  background-color: #000000;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #b93434;
  color: gray;
  display: block;
  text-align: center;
}

.inputs::placeholder {
  color: #fff; 
}


.button {
  border: 2px solid #b93434;
  background: #000000;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: unset;
  color: rgb(255, 253, 253);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.button:hover {
  background-color: #ff0000;
  box-shadow: #000000 0 0 10px;
  transform: scale(1.1);
}

.Registration_Page a {
    text-align: center;
  color: #000000;
  font-size: 15px;
  text-decoration: dotted underline;
  display: block;
  margin-top: 10px;
}
